@import '../../utils.module.scss';

.image {
    width: 100%;
    height: auto;
    display: block;
}

.title {
    color: $black-01;
    @include setSize(45px, 50px);
    font-weight: 600;
    text-transform: capitalize;
    margin: 55px 0;
}

.content {
    background: $grey-01;
    padding: 70px 107px;
    color: $black-01;
    @include setSize(20px, 40px);
    font-weight: 400;
    text-transform: capitalize;

    .recipe {
        @include setSize(33px, 50px);
        font-weight: 700;
        margin-bottom: 53px;
    }

    .intro {
        margin-bottom: 30px;
    }
}


@include for-mobile-only {
    .image {
        height: 300px;
    }

    .title {
        @include setSize(28px, 35px);
        margin: 25px 0;
    }

    .content {
        @include setSize(16px, 24px);
        padding: 20px;

        .recipe {
            @include setSize(28px, 30px);
            margin-bottom: 30px;
        }

        .intro {
            margin-bottom: 18px;
        }
    }
}