@import './utils.module.scss';


body {
  margin: unset !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}


body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 230px !important;
@include for-tablet-only{
  margin-top: 140px !important;

}
  @include for-mobile-only {
    margin-top: 150px !important;

  }
}
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

button {
  border-radius: 4px;
  background: #373737;
  margin-left: 6px;
  color: $white-01;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 48px;
}