@import '../../utils.module.scss';

  .star {
    cursor: pointer;
    color: #C8C8C8;
    margin-right: 5px;
    height: 25px;
    width: 25px;
  }
  
  .rated {
    @extend .star;
    color: $red-01; 
  }